# Archivos de Python
*.pyc
__pycache__/

# Entornos virtuales
venv/
env/
bin/
include/
lib/
share/
pyvenv.cfg

# Configuraciones de IDE
.vscode/
.idea/

# Archivos de logs
*.log

# Dependencias instaladas
*.egg-info/

# Archivos de git
.git/
./

#Archivos varios
*.pdf
